<!DOCTYPE html>
<html>
    <head>
        <title>Jacob's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Jacob's Blog</a></h1>
        </header>
        <article>
            <time>published: 31.12.2024 10:59</time>
            <h2><a href="">First Post</a></h2>
            <p>New years new First Post</p>
        </article>

        <article>
            <time>published: 31.12.2024 11:01</time>
            <h2><a href="">what are dogs</a></h2>
            <p>annoying food mongrals</p>
        </article>

        <article>
            <time>published: 31.12.2024 11:02</time>
            <h2><a href="">Cat's</a></h2>
            <p>General assholes with daggers</p>
        </article>
        
    </body>
</html>